In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
df = pd.read_csv(r'D:\nam_3\data_mining\BTL\car_sales_data.csv')
df.head()

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned
0,2022-08-01,Monica Moore MD,Mary Butler,Nissan,Altima,2018,15983,0.070495,1126.73
1,2023-03-15,Roberto Rose,Richard Pierce,Nissan,F-150,2016,38474,0.134439,5172.40
2,2023-04-29,Ashley Ramos,Sandra Moore,Ford,Civic,2016,33340,0.114536,3818.63
3,2022-09-04,Patrick Harris,Johnny Scott,Ford,Altima,2013,41937,0.092191,3866.20
4,2022-06-16,Eric Lopez,Vanessa Jones,Honda,Silverado,2022,20256,0.113490,2298.85

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df['Month'] = df['Date'].dt.month.astype(str)
df.head()

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned,Month
0,2022-08-01,Monica Moore MD,Mary Butler,Nissan,Altima,2018,15983,0.070495,1126.73,8
1,2023-03-15,Roberto Rose,Richard Pierce,Nissan,F-150,2016,38474,0.134439,5172.40,3
2,2023-04-29,Ashley Ramos,Sandra Moore,Ford,Civic,2016,33340,0.114536,3818.63,4
3,2022-09-04,Patrick Harris,Johnny Scott,Ford,Altima,2013,41937,0.092191,3866.20,9
4,2022-06-16,Eric Lopez,Vanessa Jones,Honda,Silverado,2022,20256,0.113490,2298.85,6

-   Group the DataFrame by month and calculate the average sale price

In [6]:
df_sale_price_monthly = df.groupby('Month').agg({'Sale Price': 'mean'})

In [7]:
df_sale_price_monthly = df_sale_price_monthly.sort_values('Sale Price', ascending=False)

best_months = df_sale_price_monthly.head(5)
print(best_months)

         Sale Price
Month
8      30052.312136
4      30046.320463
12     30044.549012
7      30026.342485
2      30022.099481

In [8]:
df.head()

,Date,Salesperson,Customer Name,Car Make,Car Model,Car Year,Sale Price,Commission Rate,Commission Earned,Month
0,2022-08-01,Monica Moore MD,Mary Butler,Nissan,Altima,2018,15983,0.070495,1126.73,8
1,2023-03-15,Roberto Rose,Richard Pierce,Nissan,F-150,2016,38474,0.134439,5172.40,3
2,2023-04-29,Ashley Ramos,Sandra Moore,Ford,Civic,2016,33340,0.114536,3818.63,4
3,2022-09-04,Patrick Harris,Johnny Scott,Ford,Altima,2013,41937,0.092191,3866.20,9
4,2022-06-16,Eric Lopez,Vanessa Jones,Honda,Silverado,2022,20256,0.113490,2298.85,6

In [9]:
selected_columns = ['Sale Price', 'Commission Earned']  # Specify the columns you want to use
dataset = df[selected_columns].dropna()

In [11]:
#   Split the dataset into train and test sets
train_df= df.sample(frac=0.8, random_state=42)
test_dataset = dataset.drop(df.index)

In [12]:
#   Define the features and labels
features = train_df.drop('Commission Earned', axis=1)
labels = train_df['Commission Earned']

In [15]:
labels

1551603    3470.76
1826486    3089.43
547212     3797.13
1027107    3484.21
1022057    5202.01
            ...
1655950    1688.17
2059489    2766.81
1348603    3933.66
27055      2784.28
32437      1859.52
Name: Commission Earned, Length: 2000000, dtype: float64

In [16]:
labels = labels.astype(float)

In [17]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dense(1, activation='linear')
])

WARNING:tensorflow:From d:\nam_3\data_mining\BTL\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

WARNING:tensorflow:From d:\nam_3\data_mining\BTL\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:
# model.fit(features, labels, epochs=10)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type Timestamp).

In [ ]:
### thử code bên titanic

In [20]:
# Assuming 'train_df' is your DataFrame
X = train_df.drop('Commission Earned', axis=1)
Y = train_df['Commission Earned']

In [21]:
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [22]:
# Standardize the data (optional but recommended for neural networks)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

TypeError: float() argument must be a string or a real number, not 'Timestamp'